﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fizzbuzz-opening-caption-text {
    font-size: 14px;
    color: yellow
}

.fizzbuzz-opening-caption-text-background {
    background-color: black;
    height: auto;
}

.fizz-text {
    font-size: 14px;
    color: green;
}

.buzz-text {
    font-size: 14px;
    color: blue;
}