﻿@model Fizzbuzz.Models.FizzbuzzModel


@{
    ViewBag.Title = "Results";

}

<link rel="stylesheet" href="~/css/site.css" />
<h2>These are your results</h2>
<hr>
<p>
    Page @Model.CurrentPage Of @Model.TotalPages
</p>
<hr>

@using (Html.BeginForm("Results", "Fizzbuzz", FormMethod.Post))
{
    <div>
        @if (Model.Results != null && Model.Results.Count > 0)
        {
            int counter = 0;
            int startPosition = (Model.CurrentPage * Model.PageSize) - Model.PageSize;
            int endPosition = startPosition + Model.PageSize;
            foreach (Fizzbuzz.Models.FizzbuzzResultItem modelItem in Model.Results)
            {
                if (counter >= startPosition && counter < endPosition)
                {
                    if (modelItem.IsDivisibleByFive && modelItem.IsDivisibleByThree)
                    {
                        <p>
                            <span class="fizz-text">
                                @Html.DisplayFor(model => modelItem.IsDivisibleByThreeText)
                            </span>
                            <span class="buzz-text">
                                @Html.DisplayFor(model => modelItem.IsDivisibleByFiveText)
                            </span>
                        </p>
                    }
                    else if (modelItem.IsDivisibleByFive)
                    {
                        <p>
                            <span class="buzz-text">
                                @Html.DisplayFor(item => @modelItem.IsDivisibleByFiveText)
                            </span>
                        </p>
                    }
                    else if (modelItem.IsDivisibleByThree)
                    {
                        <p>
                            <span class="fizz-text">
                                @Html.DisplayFor(item => @modelItem.IsDivisibleByThreeText)
                            </span>
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.DisplayFor(item => @modelItem.Value)
                        </p>
                    }
                }

                counter++;
            }
        }
    </div>
    <hr>
    <p>
        Page @Model.CurrentPage Of @Model.TotalPages
    </p>

    if (Model.TotalPages > 1)
    {
        <hr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model.CurrentPage > 1)
                {
                    <input type="submit" name="previousButton" value="Previous" class="btn btn-default" />
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <input type="submit" name="nextButton" value="Next" class="btn btn-default" />
                }
            </div>
        </div>
    }
}
<hr>

